# Pods
Pods/

# Xcode
*.xcworkspace
xcuserdata/
*.moved-aside
*.pyc
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.xcscmblueprint
DerivedData/
build/
*.hmap
*.ipa

# macOS
.DS_Store
.AppleDouble
.LSOverride
